.listItemsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}

.selectedItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
  padding: 10px 0;
  width: 95%;
  border-bottom: 1px solid lightgrey;
  border-left: 4px solid tomato;
  list-style: none;
}
.listItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
  padding: 10px 0;
  width: 95%;
  border-bottom: 1px solid lightgrey;
  list-style: none;
}

.listItems li,
.selectedItem li {
  display: flex;
  justify-content: flex-start;
  width: 85%;
}

.listItems button,
.selectedItem button {
  display: flex;
  justify-content: center;
  width: 15%;
  padding: 8px;
  border-radius: 5px;
  border-color: tomato;
  color: tomato;
}

.countOfComments {
  display: flex;
  margin-left: 7px;
  padding: 7px;
  border-radius: 15px;
  background: #28ccc0;
  color: white;
  height: 20px;
  align-items: center;
  box-sizing: border-box;
}
