
.container {
  margin: 100px 400px;
  padding: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 5px -5px 0 0 hsl(203, 61%, 79%), 10px -10px 0 0 hsl(219, 27%, 58%), 5px -5px 0 0 hsl(203, 42%, 72%) inset, 10px -10px 0 0 hsl(218, 56%, 73%) inset
}

.container h1 {
  position: relative;
  margin: 30px 0;
  width: 100%;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: lightskyblue;
  text-shadow: 2px 2px 1px cornflowerblue;

}

.container input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 12px 0;
  box-sizing: border-box;
  border: 2px solid lightskyblue;
  border-radius: 6px;
  box-shadow: 5px 5px 5px lightblue;
}

.listItems {
  margin: 0;
  padding: 0;
}

.listItems input {
  display: inline-block;
  height: 15px;
  width: 15px;
  background-color: lightblue;
  cursor: pointer;
}

.listItems:hover input {
  background-color: lightgrey;
}

.listItems input:checked {
  background-color: cornflowerblue;
}

.listItems li {
  display: block;
  width: 97%;
  padding: 5px 8px;
  border: 1px solid lightblue;
  border-radius: 5px;
}

.listItems p {
  display: inline-block;
  width: 80%;
  margin: 5px 10px;
  padding: 2px;
  font-size: 22px;
}

.listItems button {
  display: none;
}

.listItems li:hover button {
  display: inline-block;
  border: none;
  width: 65px;
  position: relative;
  top: 50%;
  color: skyblue;
}

.span {
  display: inline-block;
  padding: 5px;
  border: 1px solid lightblue;
  border-radius: 5px;
}

.statuses {
  display: inline-block;
  margin: 5px 100px;
  padding: 5px;
}

.statuses button {
  padding: 5px;
  border-radius: 6px;
  border-color: lightblue;
}

.statuses button:hover {
  border: 2px solid lightblue;
  background: lightskyblue;
  text-align: center;
}
